hyperopt
numpy
torch==1.11.0
torch-scatter -f https://data.pyg.org/whl/torch-1.11.0+cu102.html
torch-sparse -f https://data.pyg.org/whl/torch-1.11.0+cu102.html
torch-cluster -f https://data.pyg.org/whl/torch-1.11.0+cu102.html
torch-spline-conv -f https://data.pyg.org/whl/torch-1.11.0+cu102.html
torch-geometric -f https://data.pyg.org/whl/torch-1.11.0+cu102.html
tensorflow
tqdm
scipy
pandas
Pillow
PyYAML
scikit_learn
gdown
