-f https://download.pytorch.org/whl/gpu/torch_stable.html
-f https://data.pyg.org/whl/torch-1.11.0+cu102.html
hyperopt
numpy
torch==1.11.0
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric
tensorflow
tqdm
scipy
pandas
Pillow
PyYAML
scikit_learn
sparsesvd
gdown
